body
{
    background-color: grey;
    padding-bottom: 52px;
}
.section1
{
    border: 7px solid rgb(211, 21, 21);
    border-radius: 10px;
    background-color: whitesmoke;
    height: 180px;
    width: 500px;
    text-align: center;
    font-size: 25px;
    font-family: serif;
    color: rgb(133, 11, 62);
    position: relative;
    left: 410px;
    box-shadow: 7px 7px purple;
    text-shadow: 1px 1.5px grey;
}
.section2
{
    border: 7px solid green;
    height: 680px;
    width: 1320px;
}
.box1
{
    border: 7px solid rgb(211, 21, 21);
    border-radius: 10px;
    background-color: whitesmoke;
    height: 260px;
    width: 280px;
    text-align: center;
    font-size: 25px;
    font-family: serif;
    color: rgb(50, 3, 54);
    box-shadow: 7px 7px purple;
    text-shadow: 1px 1.5px grey;
}
.box2
{
    border: 7px solid rgb(211, 21, 21);
    border-radius: 10px;
    background-color: whitesmoke;
    height: 260px;
    width: 280px;
    box-shadow: 7px 7px purple;
    position: relative;
    left: 1000px;
    bottom: 275px;
}
.box3
{
    border: 7px solid rgb(211, 21, 21);
    border-radius: 10px;
    background-color: whitesmoke;
    height: 260px;
    width: 280px;
    text-align: left;
    font-size: 27px;
    font-family: serif;
    color: rgb(50, 3, 54);
    position: relative;
    bottom: 180px;
    box-shadow: 7px 7px purple;
    text-shadow: 1px 1.5px grey;
}
.box4
{
    border: 7px solid rgb(211, 21, 21);
    border-radius: 10px;
    background-color: whitesmoke;
    height: 260px;
    width: 280px;
    text-align: center;
    font-size: 15px;
    font-family: serif;
    color: rgb(50, 3, 54);
    position: relative;
    bottom: 455px;
    left: 1000px;
    box-shadow: 7px 7px purple;
    text-shadow: 1px 1.5px grey;
}
#rating
{
    text-align: center;
}
.a
{
    font-size: 27px;
}
.b 
{
    background-color: rgb(211, 21, 21);
    border-radius: 10px;
}
.c 
{
    position: relative;
    left: 28px;
    top: 20px;
    border: 2px solid black;
    height: 180px;
    width: 220px;
}
.d
{
    font-size: 25px;
    float: left;
    position: relative;
    top: 10px;
    margin-left: 35px;
    text-align: center;
}
.e
{
    font-size: 20px;
    float: right;
    position: relative;
    top: 15px;
    margin-right: 35px;
    text-align: center;
}
.section3
{
    border: 7px solid purple;
    background-color: rgb(16, 102, 16);
    height: 600px;
    width: 845px;
    position: relative;
    top: 27px;
    left: 235px;
}
.box5
{
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}
.box6
{
    background-color: rgb(224, 212, 105);
    height: 200px;
    width: 400px;
    margin-top: 30px;
    margin-left: 10px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 15px;
}
.box7
{
    background-color: rgb(224, 212, 105);
    height: 200px;
    width: 400px;
    position: relative;
    bottom: 235px;
    margin-left: 430px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 15px;
}
.box8
{
    background-color: rgb(224, 212, 105);
    height: 200px;
    width: 820px;
    position: relative;
    bottom: 210px;
    margin-left: 10px;
    padding-top: 25px;
    text-align: center;
    padding-bottom: 20px;
}
.f
{
    font-size: 27px;
}
.box9
{
    border: 7px solid rgb(211, 21, 21);
    border-radius: 20px;
    background-color: greenyellow;
    height: 80px;
    width: 500px;
    color: maroon;
    position: fixed;
    top: 500px;
    left: 410px;
    box-shadow: 7px 7px purple;
}
